{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/asset/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,600">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="Favicon.png">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}


{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if app.user %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="navbar-text">
                            You are logged in as {{ app.user.userIdentifier }},
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </span>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>

    <main class="login-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Login to dashboard</div>
                        <div class="card-body">
                            <form method="post">

                                {# affichage du flash 'access denied' lorsque l'utilisateur est déconnecté #} 
                                {% if app.request.query.has('errorAccessDenied') %}
                                <div class="alert alert-danger">Access Denied.</div>
                                {% endif %}
                            
                                {# affichage du flash 'access denied' lorsque l'utilisateur est connecté #}
                                {# {% if app.session.flashbag.has('errorAccessDenied') %}
                                    {% for errorMessage in app.session.flashbag.get('errorAccessDenied') %}
                                        <div class="alert alert-danger">{{ errorMessage }}</div>
                                    {% endfor %}
                                {% endif %} #}

                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <div class="form-group row">
                                    <label for="inputEmail" class="col-md-4 col-form-label text-md-right">Email</label>
                                    <div class="col-md-6">
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputPassword" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center">
    <div class="col-md-6 offset-md-4">
        <p><a href="/reset-password">Forgot password ?</a></p>
    </div>
</div>


                                <div class="form-group row justify-content-center">
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </div>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('asset/js/clearFormFields.js') }}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

